/*-- scss:defaults --*/

$primary: #5a6f5e;


/*-- scss:rules --*/

body {
  background-color: #f3f0e6;
}

.navbar {
  background-color: #5a6f5e !important;
}

.navbar .nav-link,
.navbar-brand {
  color: white !important;
}

.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: white !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: #5a6f5e;
}