/* Background color for the whole site */
body {
  background-color: #f3eee2ff;
}

/* Navbar background */
.navbar {
  background-color: #5a6f5eff !important;
}

/* Navbar text color */
.navbar .nav-link,
.navbar-brand {
  color: white !important;
}

/* Heading colors */
h1, h2, h3, h4, h5 {
  color: #5a6f5eff;
}
